{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Master Copier Tools</title>
  <link rel="icon" type="image/png" href="{% static 'image/logo-mc.png' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>

<body>


  <div>
    <!-- Header Section -->
    <header>
      ::before
      <div class="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-white " id="navbar">
          <div class="container navbar-container">
            <div class="pull-left">
              <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i style="color: black;" class="fa fa-navicon"></i>
              </button>
              <a class="navbar-brand text-dark bauhaus" href="{% url 'home' %}"><img id="navbar-logo" src="{% static 'image/logo-mc.png' %}"
                  height="80px" alt="master-copier Light Logo"> Master Copier Tools</a>
            </div>
            <div class="navbar-collapse offcanvas-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                  <a class="nav-link text-dark agency fb

                  " href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown d-none d-md-block">
                  <a class="nav-link text-dark  dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Features
                  </a>
                  <div class="dropdown-menu nav-dropdown" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-dark active nav-dropdown__item" href="#">Account Manager</a>
                    <a class="dropdown-item text-dark  nav-dropdown__item" href="{% url 'Trade Copier' %}">Trade Copier</a>
                  </div>
                </li>
                <li class="nav-item d-md-none">
                  <a class="nav-link active text-dark" href="#">Account Manager</a>
                </li>
                <li class="nav-item d-md-none">
                  <a class="nav-link  text-dark" href="{% url 'Trade Copier' %}">Trade Copier</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'Pricing' %}">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'Blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'Contact' %}">Contact</a>
                </li>
                <li class="nav-item nav-item__cta_outline">
                  <a class="nav-link nav-link__cta_outline text-white btn btn-primary btn  rounded-pill mobile-btn btn-green" href="{% url 'register' %}">Get Started</a>
                </li>
                <li class="nav-item nav-item__cta_outline">
                  <a class="nav-link nav-link__cta_outline text-white btn btn-primary btn  rounded-pill mobile-btn btn-green" href="{% url 'login' %}">Login</a>
                </li>

              </ul>
            </div>
          </div>
        </nav>

        <div class="container text-center ">
          <video class="video-background" autoplay loop muted>
            <source src="{% static 'image/bg-vdo.mp4' %} " type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="row">
            <div class="col-12"><br><br>
              <h1><br> ACCOUNT MANAGER
              </h1>
            </div>
          </div>
        </div>
      </div>


    </header>
  </div>


  <section>
    <div class="container ">
      <div class="row">
        <div class="col-12 col-md-7 text-center text-md-left text-justify align-self-center">
          <p>
            <strong>Master Copier Tools</strong> allows you to manage an unlimited account of MT4 and MT5 accounts from any
            broker, all from one platform. There is no special Software, no complex configurations and no VPS servers
            required.
          </p>
          <p>
            Simply upload your account credetials to the platform and your accounts will be hosted securely in the cloud
            24/7. Once you have accounts added you can utilise the platform in many ways.
          </p>

        </div>
        <div class="col-12 col-md-5 text-center"><img src="{% static 'image/account_management.png' %}" class="img-fluid" alt=""></div>
      </div>
    </div>
  </section>
  <section class="key-features-section">
    <div class="container ">
      <div class="row">
        <div class="col-12">
          <h2 class="section-header text-center">Key Features</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-3 col-md-2">
              <i class="fa fa-desktop fa-3x" aria-hidden="true"></i>            </div>
            <div class="col-9 col-md-10">
              <h5><strong>The Dashboard</strong></h5>
              <p>The Dashboard gives you a real time view of your accounts all in one place, removing the need to cycle
                through multiple terminals to manage your portfolio. You can view performance, exposure, open trades and
                trade history of accounts overall, or filtered down by account or specific groups.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-3 col-md-2">
              <i class="fa fa-share-alt fa-3x" aria-hidden="true"></i>            </div>
            <div class="col-9 col-md-10">
              <h5><strong>Trade Copying</strong></h5>
              <p>Setup trade copiers to copy trades between your own accounts or from signal accounts. Trade copiers can
                be setup in a few clicks and settings can be updated at any time.</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-3 col-md-2">
              <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>            </div>
            <div class="col-9 col-md-10">
              <h5><strong>Real Time Email Alerts</strong></h5>
              <p>Trading a 24 hour market means you need to stay up to date with your activity and exposure. With Master
                Copier, you can setup real time email alerts for any trading activity, all with a tick of a box.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-3 col-md-2">
              <i class="fa fa-heartbeat fa-3x" aria-hidden="true"></i>            </div>
            <div class="col-9 col-md-10">
              <h5><strong>Equity Monitors</strong></h5>
              <p>Monitor your account's equity levels and trigger an action based on a value or percentage. Whether you
                want to be alerted, to stop copier or have trades fully close out, Master Copier Tools makes it simple.</p>
            </div>
          </div>
        </div>
      </div>
      <hr>

    </div>
    </div>
  </section>


  <!-- Footer Section -->
  <div class="header-1 text-white py-4">
    <video class="video-background" autoplay loop muted>
            <source src="{% static 'image/bg-vdo.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    <div class="container text-center">
      <br><br><p class="font-cls">"Stay informed with our newletter for the latest news and updates!"</p><br>
      <a href="#" class="btn btn-primary btn  rounded-pill mobile-btn btn-green-1">SUBSCRIBE NOW</a><br><br>
    </div>
  </div><br><br>

  <section class="footer footer12">
    <div class="container">
      <div class="row footer-top">
        <div class="col-12 col-md-6 text-center text-md-left">
          <h2>Get Started to Master Copier Tools today!</h2>
        </div>
        <div class="col-12 col-md-6 text-center text-md-right">
          <a class="btn btn-success rounded-pill" href="{% url 'register' %}">GET STARTED</a>
        </div>
      </div><br><br>
      <div class="row footer-bottom text-dark mt-md-0 justify-content-center align-self-center h-100">
        <div class="col-12 text-dark text-center justify-content-center align-self-center">
          <small>Copyright © <a href="#">Revobig Technologies</a> 2024</small>
        </div><br><br>
        <div class="col-12 text-center">
          <a style="margin-right: 15px;" href="#"><i class="fa-brands footer-text fa-square-facebook" aria-hidden="true"></i></a>
          <a style="margin-right: 15px;" href="#"><i class="fa-brands footer-text fa-x-twitter fa-square-x-twitter" aria-hidden="true"></i></a>
          <a style="margin-right: 15px;" href="#"><i  class="fa-brands footer-text fa-instagram fa-square-instagram" aria-hidden="true"></i></a>
          <a style="margin-right: 15px;" href="#/"><i class="fa-brands footer-text fa-linkedin" aria-hidden="true"></i></a>
      </div><br><br>
        <div class="col-12 text-center  text-dark mt-md-0 justify-content-center align-self-center">
          <a style="margin-right: 15px;" href="#" class="footer-link"><small>Contact us</small></a>
          <a style="margin-right: 15px;" href="#" class="footer-link"><small>Cookie policy</small></a>
          <a style="margin-right: 15px;" href="#" class="footer-link"><small>Terms of use</small></a>
          <a style="margin-right: 15px;" href="#" class="footer-link"><small>Privacy policy</small></a>
        </div>
      </div>
    </div>
  </section>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>