
{% load static %}

<style>
        #columnOptions {
            display: none;
            /* initially hide column options */
        }

        .columnOptions {
            max-height: 200px;
            /* Adjust height as needed */
            overflow-y: auto;
            /* Enable vertical scrolling */
            border: 1px solid #ccc;
            /* Small border */
            background-color: #ccc;
            padding: 10px;
            /* Add some padding for better appearance */
        }
        .card--container {
        padding: 10px;
        margin: 20px 70px;

    }
    .tablular--wrapper {
        overflow-x: scroll;
        border-radius: 20px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid white;
        padding: 15px;
        text-align: center;
    }
    </style>

<div class="card--container">
            <h3 class="main--title"><strong>START TO COPY TRADES IN 3-MINUTES</strong></h3>
            <!-- Cards -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="iconBx">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                        <div>
                            <p class="cardName">1. Add Hosting</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="iconBx">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                        <div>
                            <p class="cardName">2. Add Master</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="iconBx">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                        <div>
                            <p class="cardName">3. Add slave</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="iconBx">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                        <div>
                            <p class="cardName">4. Design Copy Setting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardBox">
            <div class="Card">
                <div>

                    <div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Account Connected</div>
                        <div class="merger">
                            <div>
                                <div class="CardNumber">0</div>
                                <div class="CardName">Account Inactive</div>
                            </div>
                            <div class="IconBx">
                                <i class="fa-solid fa-users"></i>
                            </div>
                        </div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Account Disconnected</div>
                    </div>

                    <div class="butn">
                        <a href="{% url 'account_view' %}"><span>View Account</span></a>
                    </div>
                </div>
            </div>
            <div class="Card">
                <div>
                    <div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Total Equity</div>
                        <div class="merger">
                            <div>
                                <div class="CardNumber">0</div>
                                <div class="CardName">Total Balance</div>
                            </div>
                            <div class="IconBx">
                                <i class="fa-solid fa-chart-line"></i>
                            </div>
                        </div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Monthly PnL</div>
                    </div>
                    <div class="butn">
                        <a href="#"><span>View Trades</span></a>
                    </div>
                </div>
            </div>
            <div class="Card">
                <div>
                    <div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Today's Copied Orders</div>
                        <div class="merger">
                            <div>
                                <div class="CardNumber">0</div>
                                <div class="CardName">Today's Failed Orders</div>
                            </div>
                            <div class="IconBx">
                                <i class="fa-solid fa-clock-rotate-left"></i>
                            </div>
                        </div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Open Trades</div>

                    </div>
                    <div class="butn">
                        <a href="#"><span>View History</span></a>
                    </div>
                </div>
            </div>
            <div class="Card">
                <div>
                    <div>
                        <div class="CardNumber">0</div>
                        <div class="CardName">Subscripted Accounts</div>
                        <div class="merger">
                            <div>
                                <div class="CardNumber">0</div>

                                <div class="CardName">Flexible Accounts</div>
                            </div>

                            <div class="IconBx">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div><br>
                    <div class="butn">
                        <a href="#"><span>View Account Hosting</span></a>
                    </div>
                </div>
            </div>
        </div>
<!--<div style="background-color: #016795;" class="card&#45;&#45;container">-->
<!--    <div style="margin: 10px;" class="row">-->
<!--        <div class="col-sm-6  align-items-center justify-content-md-start">-->
<!--            <div class="pr-1 mb-3 mb-xl-0">-->
<!--                <button onclick="showAccounts()" style="background-color: aqua; color: white;" type="button" id="AccountsButton"-->
<!--                    class="btn btn-sm  btn-icon-text ">Accounts</button>-->
<!--            </div>-->
<!--            <div class="pr-1 mb-3 mb-xl-0">-->
<!--                <button onclick="showTrades()" type="button" style="background-color: white; color: #000;" type="button" id="tradesButton"-->
<!--                    class="btn btn-sm  btn-icon-text border">Trades</button>-->
<!--            </div>-->
<!--            <div class="pr-1 mb-3 mb-xl-0">-->
<!--                <button onclick="showAnalysis()" type="button" style="background-color: white; color: #000;" type="button" id="AnalysisButton"-->
<!--                    class="btn btn-sm btn-icon-text border">Analysis</button>-->
<!--            </div>-->
<!--            <div class="pr-1 mb-3 mb-xl-0">-->
<!--                <button onclick="showHistory()" type="button" style="background-color: white; color: #000;" type="button" id="HistoryButton"-->
<!--                    class="btn btn-sm e btn-icon-text border">History</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--            <div class="dov-v d-flex align-items-center justify-content-md-end">-->
<!--                <div class="pr-1 mb-3 mr-2 mb-xl-0">-->
<!--                    <button style="color: white; background-color: blue;" type="button"-->
<!--                        class="btn btn-sm  btn-icon-text "><i class="fa-solid fa-filter"></i>Filter</button>-->
<!--                </div>-->
<!--                <div class="pr-1 mb-3 mb-xl-0">-->
<!--                    <button style="color: white; background-color: blue;" type="button"-->
<!--                        class="btn btn-sm btn-icon-text "><i class="fa-solid fa-eye-slash"></i> Columns</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card&#45;&#45;container">-->
<!--            <div id="content" class="tablular&#45;&#45;wrapper">-->
<!--                <div>-->
<!--                    <div id="Accounts" class="table-container" style="max-height: 500px; overflow-y: scroll;">-->
<!--                        <table id="accountTable">-->
<!--                            <thead>-->
<!--                                <tr>-->
<!--                                    <th>Account</th>-->
<!--                                    <th>MT</th>-->
<!--                                    <th>Balance</th>-->
<!--                                    <th>Equity</th>-->
<!--                                    <th>Equity %</th>-->
<!--                                    <th>Open Trades (Lots)</th>-->
<!--                                    <th>Pending</th>-->
<!--                                    <th>Day</th>-->
<!--                                    <th>Week</th>-->
<!--                                    <th>Month</th>-->
<!--                                    <th>Total</th>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                            <tbody id="accountData">-->
<!--                                &lt;!&ndash; Account details will be inserted here &ndash;&gt;-->
<!--                                <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                    <div id="Trades" class="table-container"-->
<!--                        style="max-height: 500px; overflow-y: scroll; display: none;">-->
<!--                        <div class="accountTable">-->
<!--                            <table>-->
<!--                                <thead>-->
<!--                                    <tr>-->
<!--                                        <th>ID</th>-->
<!--                                        <th>Ticket</th>-->
<!--                                        <th>Account</th>-->
<!--                                        <th>Open Time</th>-->
<!--                                        <th>Symbol</th>-->
<!--                                        <th>Type</th>-->
<!--                                        <th>Lots</th>-->
<!--                                        <th>Open Price</th>-->
<!--                                        <th>SL</th>-->
<!--                                        <th>TP</th>-->
<!--                                        <th>Com</th>-->
<!--                                        <th>Swap</th>-->
<!--                                        <th>Profit</th>-->
<!--                                    </tr>-->
<!--                                </thead>-->
<!--                                <tbody >-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="Analysis" class="table-container"-->
<!--                        style="max-height: 500px; overflow-y: scroll; display: none;">-->
<!--                        <div class="accountTable">-->
<!--                            <table>-->
<!--                                <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Account</th>-->
<!--                                        <th>Growth %</th>-->
<!--                                        <th>Profit</th>-->
<!--                                        <th>Balance</th>-->
<!--                                        <th>Equity</th>-->
<!--                                        <th>Trades</th>-->
<!--                                        <th>Won</th>-->
<!--                                        <th>Lost</th>-->
<!--                                        <th>Lots</th>-->
<!--                                        <th>Com</th>-->
<!--                                        <th>Swap</th>-->
<!--                                        <th>Deposits</th>-->
<!--                                        <th>Withdrawals</th>-->
<!--                                    </tr>-->
<!--                                </thead>-->
<!--                                <tbody >-->
<!--                                    &lt;!&ndash; Trade data will be inserted here using JavaScript &ndash;&gt;-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div id="History" class="table-container"-->
<!--                        style="max-height: 500px; overflow-y: scroll; display: none;">-->
<!--                        <div class="accountTable">-->
<!--                            <table>-->
<!--                                <thead>-->
<!--                                    <tr>-->
<!--                                        <th>ID</th>-->
<!--                                        <th>Ticket</th>-->
<!--                                        <th>Account</th>-->
<!--                                        <th>Open Time</th>-->
<!--                                        <th>Symbol</th>-->
<!--                                        <th>Type</th>-->
<!--                                        <th>Lots</th>-->
<!--                                        <th>Open Price</th>-->
<!--                                        <th>SL</th>-->
<!--                                        <th>TP</th>-->
<!--                                        <th>Close Time</th>-->
<!--                                        <th>Close Price</th>-->
<!--                                        <th>Com</th>-->
<!--                                        <th>Swap</th>-->
<!--                                        <th>Profit</th>-->
<!--                                    </tr>-->
<!--                                </thead>-->
<!--                                <tbody >-->
<!--                                    &lt;!&ndash; Trade data will be inserted here using JavaScript &ndash;&gt;-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                    <td></td>-->
<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<div style="background-color: #016795;" class="card--container">
            <div style="margin: 6px;" class="row ">
                <div class="col-sm-6  align-items-center justify-content-md-start">
                    <!-- <div class="pr-1 mb-3 mb-xl-0">
                        <button onclick="showAccounts()" style="background-color: aqua; color: white;" type="button" id="AccountsButton"
                            class=" btn btn-sm  btn-icon-text ">Accounts</button>
                    </div>
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button onclick="showTrades()" type="button" style="background-color: white; color: #000;" type="button" id="tradesButton"
                            class="btn btn-sm  btn-icon-text border">Trades</button>
                    </div>
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button onclick="showAnalysis()" type="button" style="background-color: white; color: #000;" type="button" id="AnalysisButton"
                            class="btn btn-sm btn-icon-text border">Analysis</button>
                    </div>
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button onclick="showHistory()" type="button" style="background-color: white; color: #000;" type="button" id="HistoryButton"
                            class="btn btn-sm e btn-icon-text border">History</button>
                    </div> -->
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button style="background-color: white;color: #000;" type="button" id="AccountsButton"
                            class="btn btn-sm button-og btn-icon-text "
                            onclick="toggleTable('accountTable', 'Account,MT,Balance,Equity,Equity %,Free Margin,Used Margin,Open Trades (Lots),Pending,Day,Week,Month,Total')">Account</button>
                    </div>
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button style="background-color: white;color: #000;" type="button" id="AnalysisButton"
                            class="btn btn-sm button-og btn-icon-text border"
                            onclick="toggleTable('analysisTable','Account,Growth %,Profit,Balance,Equity,Trades,Won,Lost,Lots,Com,Swap,Deposits,Withdrawals' )">Analysis</button>
                    </div>
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button style="background-color: white;color: #000;" type="button" id="tradesButton"
                            class="btn btn-sm button-og btn-icon-text border"
                            onclick="toggleTable('tradesTable', 'ID,Ticket,Account,Open Time,Symbol,Type,Lots,Open Price,SL,TP,Com,Swap,Profit,Magic,Comment' )">Trades</button>
                    </div>
                    <div class="pr-1 mb-3 mb-xl-0">
                        <button style="background-color: white;color: #000;" type="button" id="HistoryButton"
                            class="btn btn-sm button-og btn-icon-text border"
                            onclick="toggleTable('historyTable', 'ID,Ticket,Account,Open Time,Symbol,Type,Lots,Open Price,SL,TP,Close Time,Close Price,Com,Swap,Profit')">History</button>
                    </div>




                </div>
                <div style="right: 90px;" class="col-sm-6">
                    <div class="dov-v d-flex align-items-center justify-content-md-end">
                        <div class="pr-1 mb-3 mr-2 mb-xl-0">
                            <button style="color: white; background-color: blue;" type="button"
                                class="btn btn-sm  btn-icon-text "><i class="fa-solid fa-filter"></i>Filter</button>
                        </div>
                        <!-- <div class="pr-1 mb-3 mb-xl-0">
                            <button style="color: white; background-color: blue;" type="button"
                                class="btn btn-sm btn-icon-text "><i class="fa-solid fa-eye-slash"></i> Columns</button>
                        </div> -->
                        <div id="columnButton" class="pr-1 mb-3 mb-xl-0" style="display: block;">
                            <button style="color: white; background-color: blue;" type="button"
                                class="btn btn-sm btn-icon-text " onclick="toggleColumnOptions()"><i
                                    class="fa-solid fa-eye-slash"></i> Columns</button></button>
                            <div id="columnOptions" class="columnOptions"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card--container" style="padding: 10px;margin:20px 70px;">
            <div id="content" class="tablular--wrapper">
                <div>
                    <!-- <div id="Accounts"> -->
                    <table id="accountTable" class=" table-container"
                        style="max-height: 500px; overflow-y: scroll; display: none;">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>MT</th>
                                <th>Balance</th>
                                <th>Equity</th>
                                <th>Equity %</th>
                                <th>Free Margin</th>
                                <th>Used Margin</th>
                                <th>Open Trades (Lots)</th>
                                <th>Pending</th>
                                <th>Day</th>
                                <th>Week</th>
                                <th>Month</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Doe</td>
                                <td>MT4</td>
                                <td>$10,000</td>
                                <td>$12,000</td>
                                <td>120%</td>
                                <td>10,000</td>
                                <td>0</td>
                                <td>5</td>
                                <td>2</td>
                                <td>+$500</td>
                                <td>-$200</td>
                                <td>+$1000</td>
                                <td>+$1500</td>
                            </tr>
                            <tr>
                                <td>Jane Smith</td>
                                <td>MT5</td>
                                <td>$5,000</td>
                                <td>$6,000</td>
                                <td>120%</td>
                                <td>5,000</td>
                                <td>1,000</td>
                                <td>3</td>
                                <td>1</td>
                                <td>+$200</td>
                                <td>-$100</td>
                                <td>+$500</td>
                                <td>+$600</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <div id="content" class="tablular--wrapper">
                    <div>
                    <table id="analysisTable" class="table-container"
                        style="max-height: 500px; overflow-y: scroll; display: none;">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Growth %</th>
                                <th>Profit</th>
                                <th>Balance</th>
                                <th>Equity</th>
                                <th>Trades</th>
                                <th>Won</th>
                                <th>Lost</th>
                                <th>Lots</th>
                                <th>Com</th>
                                <th>Swap</th>
                                <th>Deposits</th>
                                <th>Withdrawals</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Doe / 1208765</td>
                                <td>20%</td>
                                <td>+$2,000</td>
                                <td>$10,000</td>
                                <td>$12,000</td>
                                <td>5</td>
                                <td>3</td>
                                <td>2</td>
                                <td>10</td>
                                <td>$15</td>
                                <td>$-3</td>
                                <td>+$100</td>
                                <td>-$50</td>
                            </tr>
                            <tr>
                                <td>Jane Smith / 20987765</td>
                                <td>20%</td>
                                <td>+$1,000</td>
                                <td>$5,000</td>
                                <td>$6,000</td>
                                <td>3</td>
                                <td>2</td>
                                <td>1</td>
                                <td>5</td>
                                <td>$10</td>
                                <td>$-2</td>
                                <td>+$50</td>
                                <td>-$20</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    </div>
                    <div id="content" class="tablular--wrapper">
                        <div>
                    <table id="tradesTable" class="table-container"
                        style="max-height: 500px; overflow-y: scroll; display: none;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ticket</th>
                                <th>Account</th>
                                <th>Open Time</th>
                                <th>Symbol</th>
                                <th>Type</th>
                                <th>Lots</th>
                                <th>Open Price</th>
                                <th>SL</th>
                                <th>TP</th>
                                <th>Com</th>
                                <th>Swap</th>
                                <th>Profit</th>
                                <th>Magic</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>12345</td>
                                <td>John Doe</td>
                                <td>2024-03-25 08:00:00</td>
                                <td>EURUSD</td>
                                <td>Buy</td>
                                <td>1.5</td>
                                <td>1.2000</td>
                                <td>1.1950</td>
                                <td>1.2050</td>
                                <td>$5</td>
                                <td>$-1</td>
                                <td>+$50</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>54321</td>
                                <td>Jane Smith</td>
                                <td>2024-03-26 10:00:00</td>
                                <td>GBPUSD</td>
                                <td>Sell</td>
                                <td>2.0</td>
                                <td>1.4000</td>
                                <td>1.4050</td>
                                <td>1.3950</td>
                                <td>$6</td>
                                <td>$-2</td>
                                <td>-$100</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
                    </div>
                    <div id="content" class="tablular--wrapper">
                        <div>
                    <table id="historyTable" class="table-container"
                        style="max-height: 500px;overflow-y: scroll; display: none;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ticket</th>
                                <th>Account</th>
                                <th>Open Time</th>
                                <th>Symbol</th>
                                <th>Type</th>
                                <th>Lots</th>
                                <th>Open Price</th>
                                <th>SL</th>
                                <th>TP</th>
                                <th>Close Time</th>
                                <th>Close Price</th>
                                <th>Com</th>
                                <th>Swap</th>
                                <th>Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>12345</td>
                                <td>John Doe</td>
                                <td>2024-03-25 08:00:00</td>
                                <td>EURUSD</td>
                                <td>Buy</td>
                                <td>1.5</td>
                                <td>1.2000</td>
                                <td>1.1950</td>
                                <td>1.2050</td>
                                <td>2024-03-25 12:00:00</td>
                                <td>1.2100</td>
                                <td>$5</td>
                                <td>$-1</td>
                                <td>+$50</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>54321</td>
                                <td>Jane Smith</td>
                                <td>2024-03-26 10:00:00</td>
                                <td>GBPUSD</td>
                                <td>Sell</td>
                                <td>2.0</td>
                                <td>1.4000</td>
                                <td>1.4050</td>
                                <td>1.3950</td>
                                <td>2024-03-26 14:00:00</td>
                                <td>1.3900</td>
                                <td>$6</td>
                                <td>$-2</td>
                                <td>-$100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script>
        function toggleTable(tableId, columns) {
            var tables = document.getElementsByTagName('table');
            for (var i = 0; i < tables.length; i++) {
                tables[i].style.display = 'none'; // hide all tables
            }
            document.getElementById(tableId).style.display = 'table'; // show selected table


            // Set button styles based on active table
            var buttons = document.getElementsByClassName('button');
            for (var i = 0; i < buttons.length; i++) {
                if (buttons[i].id === tableId + 'Button') {
                    buttons[i].classList.add('active');
                } else {
                    buttons[i].classList.remove('active');
                }
            }

            // Show column button
            var columnButton = document.getElementById('columnButton');
            columnButton.style.display = 'block';
            var columnOptions = document.getElementById('columnOptions');
            columnOptions.innerHTML = ''; // Clear previous options

            columns.split(',').forEach(function (column) {
                var checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.value = column;
                checkbox.checked = true; // By default, all columns are checked
                checkbox.onclick = function () {
                    toggleColumn(tableId, column);
                };

                var label = document.createElement('label');
                label.appendChild(document.createTextNode(column));

                columnOptions.appendChild(checkbox);
                columnOptions.appendChild(label);
                columnOptions.appendChild(document.createElement('br'));
            });

        }
        var buttons = document.getElementsByClassName('button-og');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function () {
                // Reset styles for all buttons
                for (var j = 0; j < buttons.length; j++) {
                    buttons[j].style.backgroundColor = 'white';
                    buttons[j].style.color = '#000';
                }
                // Apply styles to the clicked button
                this.style.backgroundColor = 'aqua';
                this.style.color = 'white';
            });
        }
        function toggleColumnOptions() {
            var columnOptions = document.getElementById('columnOptions');
            columnOptions.style.display = columnOptions.style.display === 'none' ? 'block' : 'none';
        }

        // function toggleColumn(tableId, columnName) {
        //     var table = document.getElementById(tableId);
        //     var columnIndex = Array.from(table.rows[0].cells).findIndex(cell => cell.textContent.trim() === columnName);

        //     for (var i = 0; i < table.rows.length; i++) {
        //         var row = table.rows[i];
        //         var cell = row.cells[columnIndex];
        //         if (cell) {
        //             cell.style.display = cell.style.display === 'none' ? '' : 'none';
        //         }
        //     }
        // }



        // Toggle the display of the column
        function toggleColumn(tableId, columnName) {
            var table = document.getElementById(tableId);
            var columnIndex = -1;
            var headerRow = table.rows[0];
            for (var i = 0; i < headerRow.cells.length; i++) {
                if (headerRow.cells[i].textContent === columnName) {
                    columnIndex = i;
                    break;
                }
            }
            if (columnIndex === -1) {
                console.log("Column not found");
                return;
            }
            var rows = table.rows;
            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].cells;
                if (cells.length > columnIndex) {
                    var cell = cells[columnIndex];
                    if (cell.style.display === 'none') {
                        cell.style.display = '';
                    } else {
                        cell.style.display = 'none';
                    }
                }
            }
        }


    </script>

<script>
    function hideAll() {
        // Define this function to hide all relevant elements
    }

    function showAccounts() {
        hideAll();
        document.getElementById("Accounts").style.display = "block";

        document.getElementById('AccountsButton').style.backgroundColor = 'aqua';
        document.getElementById('AccountsButton').style.color = 'white';
        document.getElementById('tradesButton').style.backgroundColor = 'white';
        document.getElementById('tradesButton').style.color = 'black';
        document.getElementById('AnalysisButton').style.backgroundColor = 'white';
        document.getElementById('AnalysisButton').style.color = 'black';
        document.getElementById('HistoryButton').style.backgroundColor = 'white';
        document.getElementById('HistoryButton').style.color = 'black';
    }

    function showTrades() {
        hideAll();
        document.getElementById("Trades").style.display = "block";

        document.getElementById('tradesButton').style.backgroundColor = 'aqua';
        document.getElementById('tradesButton').style.color = 'white';

        document.getElementById('AccountsButton').style.backgroundColor = 'white';
        document.getElementById('AccountsButton').style.color = 'black';
        document.getElementById('AnalysisButton').style.backgroundColor = 'white';
        document.getElementById('AnalysisButton').style.color = 'black';
        document.getElementById('HistoryButton').style.backgroundColor = 'white';
        document.getElementById('HistoryButton').style.color = 'black';
    }

    function showAnalysis() {
        hideAll();
        document.getElementById("Analysis").style.display = "block";

        document.getElementById('AnalysisButton').style.backgroundColor = 'aqua';
        document.getElementById('AnalysisButton').style.color = 'white';

        document.getElementById('AccountsButton').style.backgroundColor = 'white';
        document.getElementById('AccountsButton').style.color = 'black';
        document.getElementById('tradesButton').style.backgroundColor = 'white';
        document.getElementById('tradesButton').style.color = 'black';
        document.getElementById('HistoryButton').style.backgroundColor = 'white';
        document.getElementById('HistoryButton').style.color = 'black';

    }

    function showHistory() {
        hideAll();
        document.getElementById("History").style.display = "block";
        document.getElementById('HistoryButton').style.backgroundColor = 'aqua';
        document.getElementById('HistoryButton').style.color = 'white';

        document.getElementById('AccountsButton').style.backgroundColor = 'white';
        document.getElementById('AccountsButton').style.color = 'black';
        document.getElementById('AnalysisButton').style.backgroundColor = 'white';
        document.getElementById('AnalysisButton').style.color = 'black';
        document.getElementById('tradesButton').style.backgroundColor = 'white';
        document.getElementById('tradesButton').style.color = 'black';
    }
</script>
